{% extends 'base.html.twig' %}

{% block title 'FAQ' %}
{% block slider '' %}
{% block body %}
    {% include'default/head2.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <img src="/build/img/14.jpg" width="100%" height="400px" alt="">
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h1 class="deepshd text-center"> Fret-Online.sn </h1>
            </div>
        </div>
        <section class="features-icons bg-light text-center mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fa fa-desktop m-auto text-primary"></i>
                            </div>
                            <h3>Fully Responsive</h3>
                            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fa fa-android m-auto text-primary"></i>
                            </div>
                            <h3>Fret 4 Ready</h3>
                            <p class="lead mb-0">Featuring the latest build of the new framework!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fa fa-check m-auto text-primary"></i>
                            </div>
                            <h3>Easy to Use</h3>
                            <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}