{% extends 'base.html.twig' %}
{% block title 'Entreprise' %}

{% block slider '' %}
{% block body %}
    <div class="jumbotron">
        <div class="container">

        </div>
    </div>
{% endblock %}